html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: $white;
    color: $dark-grey;
    font-family: sans-serif // TODO: fix this
}

.content {
    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;
}

.header {
    background-color: $cyan-background;

    width: 100vw;

    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 1rem;
    padding-right: 1rem;

    // margin-bottom: 100px;

    font-family: Inter;

    .intro {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;

        .intro_hello {
            font-size: 5rem;
            font-weight: 200;

            margin-bottom: 7rem;
        }

        .intro_paragraph {
            font-size: 2rem;
            font-weight: 300;

            width: 50%;

            @media (max-width: $medium-width) {
                width: 70%;
            }

            @media (max-width: $small-width) {
                width: 90%;
            }

            line-height: 1.8;

            .name {
                font-weight: 700;
            }
        }
    }
}

.section {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;

    padding-left: 1em;
    padding-right: 1em;

    max-width: 1200px;

    display: flex;
    flex-wrap: wrap;
    // align-items: stretch;

    @media (max-width: $medium-width) {
        display: block;
    }

    .section_title {
        // min-width: 200px;
        flex: 1 0 0;

        padding-top: 2rem;

        font-family: Inter;
        font-weight: 600;
        font-size: 1.6rem;
        color: $blue;

        // border: 4px solid black;
    }

    .section_content {
        display: block;
        // min-width: 500px;
        flex: 4 0 0;

        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;

        @media (max-width: $medium-width) {
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        font-family: Bitter;
        font-size: 1.2rem;
        font-weight: 350;
        line-height: 1.8;
        color: $dark-grey;

        align: left;

        // border: 4px solid black;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1.2em;
}

// Font styles
.emph {
    font-style: italic;
}

.underline_link {
    font-style: bold;
    font-weight: 600;
    color: $black;
}
