.experience {
    .section_content {
        display: grid;
        gap: 1.2rem 0rem;

        .job {

            margin-top: 0.8rem;
            margin-bottom: 0.8rem;

            // border: 2px solid black;

            .job_company_dates{
                display: flex;
                justify-content: space-between;
                // line-height: 1.8;

                // @media (max-width: $small-width) {
                //     display: block;
                // }

                .job_company {
                    .company_link {
                        font-weight: 700;
                        color: $dark-grey;
                    }
                }

                .job_dates {
                    // float: right;

                    // font-family: Inconsolata;
                    // font-weight: 400;
                    font-size: 0.9rem;

                    color: $slate;
                }
            }

            .job_position {
                // margin-top: 2rem;
                // margin-bottom: 0.8em;

                // float: left;
                // clear: left;

            }
        }
    }
}
