@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
    font-family: "Bitter";
    src: url('../fonts/Bitter/Bitter-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Bitter";
    src: url('../fonts/Bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "Charter";
    src: url('../fonts/Charter/ttf/Charter Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Charter";
    src: url('../fonts/Charter/ttf/Charter Bold.ttf') format('truetype');
    font-style: bold;
}

@font-face {
    font-family: "Charter";
    src: url('../fonts/Charter/ttf/Charter Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "Merriweather";
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NotoEmoji";
    src: url('../fonts/Noto_Emoji/NotoEmoji-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}
