// Colors
$white: #ffffff;
$slate: #afafbf;
$black: #00202e;
$midnight-blue: #003f5c;
$dark-indigo: #2c4875;
$violet: #8a508f;
$fuschia: #bc5090;
$coral: #ff6361;
$orange: #ff8531;
$yellow: #ffa600;
$lemon: #ffd380;
$off-white: #ffe9c0;

:root {
  // Light mode (default)
  --bg-color: #{$white};
  --text-color: #{$midnight-blue};
  --heading-color: #{$coral};
  --secondary-text: #{$violet};
  --header-bg: #{$lemon};
  --header-link: #{$off-white};
  --header-link-hover: #{$midnight-blue};
  --border-color: #{$violet};
  --link-underline: #{$black};
  --year-label: #{$violet};
  --links-bg: #{$orange};
}

[data-theme="dark"] {
  // Dark mode
  --bg-color: #{$black};
  --text-color: #{$off-white};
  --heading-color: #{$orange};
  --secondary-text: #{$lemon};
  --header-bg: #{$midnight-blue};
  --header-link: #{$midnight-blue};
  --header-link-hover: #{$off-white};
  --border-color: #{$yellow};
  --link-underline: #{$off-white};
  --year-label: #{$coral};
  --links-bg: #{$coral};
}

// Screen widths
$medium-width: 1007px;
$small-width: 640px;
