// Colors
$night: #171c28;
$black: #36363c;
$dark-grey: #444452;
$grey: #777777;
$blue: #2087ef;
$slate: #afafbf;
$off-white: #e7e7e7;
$white: #ffffff;
$green: #bae67e;
$purple: #7d0ce8;
$red: #ff0000;
$orange: #FFB87E;
$dark-orange: #F8A43A;
$yellow: #ffdc00;
$accent: #ffcc66;

$cyan: #00AEEF;
$cyan-background: #A0E2FF;


// Screen widths
$medium-width: 1007px;
$small-width: 640px;
