.header {
    background-color: $cyan-background;

    width: 100vw;

    padding-top: 4rem;
    padding-bottom: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;

    // margin-bottom: 100px;

    font-family: Inter;

    .header_links {
        // display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;

        .links {
            float: right;
            display: flex;
            gap: 1.4rem;

            padding: 0.6rem 0.7rem 0.6rem 0.7rem;
            margin-right: 0.8rem;

            background-color: $blue;
            border-radius: 4px;

            .header_link {
                text-transform: uppercase;
                font-size: 1.2rem;

                color: $off-white;
                transition: color 0.3s;

                &:hover {
                    color: $black;
                }
            }
        }
    }

    .intro {
        padding-top: 6rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;

        .intro_hello {
            width: 90%;
            font-size: 4.8rem;
            font-weight: 200;

            margin-bottom: 4rem;
        }

        .intro_paragraph {
            font-size: 2rem;
            font-weight: 300;

            width: 50%;

            @media (max-width: $medium-width) {
                width: 70%;
            }

            @media (max-width: $small-width) {
                width: 90%;
            }

            line-height: 1.8;

            .name {
                font-weight: 700;
            }
        }
    }
}
