.presentations {
    .section_content {
        display: grid;
        gap: 1.2rem 0rem;

        .presentation {
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;

            .presentation_title {
                font-weight: 700;
            }

            .presentation_title_year {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @media (max-width: $small-width) {
                    display: grid;
                }

                .presentation_year {
                    font-family: Inter;
                    font-weight: 500;
                    font-size: 1.0rem;
                    color: var(--secondary-text);
                }
            }

            .presentation_subtitle {
                /* font-style: italic; */
                /* color: var(--secondary-text); */
            }
        }
    }
}
