.publications {
    .section_content {
        display: grid;
        gap: 0.8rem 0rem;

        .publication_year {
            font-family: Inter;
            font-weight: 700;
            font-size: 0.9rem;
            color: $dark-orange;
            margin-top: 0.8rem;
            margin-left: -0.8rem;

            @media (max-width: $medium-width) {
                margin-left: -0.4rem;
            }
        }

        .publication {

            margin-bottom: 0.8rem;
            // padding-left: 0.8rem;

            display: grid;

            // border: 2px solid black;

            .publication_title {
                font-weight: 700;
            }

            .publication_authors {
                font-size: 1rem;
            }

            .publication_journal {
                font-size: 0.9rem;
                color: $slate;
            }
        }
    }
}
