<section class="section experience">
    <span class="section_title">Experience</span>

    <span class="section_content">
        {% for job in site.data.experience %}

        <div class="job">
            <div class="job_company_dates">
                <span class="job_company">
                    <a class="underline_link" href="{{ job.url }}" target="_blank">
                        {{ job.company }}
                    </a>
                </span>
                <span class="job_dates">{{ job.time }}</span>
            </div>
            <span class="job_position">{{ job.position }}</span>
        </div>

        {% endfor %}
    </span>
</section>
