<section class="section introduction">
    <span class="section_title">Introduction</span>

    <span class="section_content">
        <p>
        I'm currently a compiler engineer on the language team at
        <a class="underline_link" href="https://relational.ai" target="_blank">RelationalAI</a>,
        where we build an awesome
        <span class="emph">relational knowledge graph management system</span>. Here, we
        tackle the challenges of building a high-performance but easy-to-use declarative
        language to interface with an advanced database back-end.
        </p>

        <p>
        I recently graduated from the
        <a class="underline_link" href="https://sydney.edu.au" target="_blank">University of Sydney</a>
        with a PhD in programming languages. My research work was focused on the awesome
        declarative language, Datalog, culminating in my thesis
        <span class="emph">Provenance, Incremental Evaluation, and Debugging in Datalog</span>.
        As part of my research, I was also a major contributor to the 
        <a class="underline_link", href="https://souffle-lang.org">Soufflé</a> Datalog engine,
        adding important debugging and incremental evaluation features.
        </p>

        <p>
        Away from the computer, you can usually find me playing tennis, ultimate frisbee,
        doing (or maybe more like <span class="emph">attempting</span>) pottery, or behind a
        camera trying to find cool things to take pictures of.
        </p>
    </span>
</section>
