<section class="section introduction">
    <span class="section_title">Introduction</span>

    <span class="section_content">
        <p>
        I'm currently a compiler engineer in the language team at
        <a class="underline_link" href="https://relational.ai" target="_blank">RelationalAI</a>,
        where we build an awesome
        <span class="emph">relational knowledge graph management system</span>. On the
        language team, we design an easy-to-use yet expressive declarative query language.
        </p>

        <p>
        I graduated in 2022 from the
        <a class="underline_link" href="https://sydney.edu.au" target="_blank">University of Sydney</a>
        with a PhD in programming languages. My research work focused on the declarative
        logic programming language, Datalog, culminating in my thesis
        <emph>Provenance, Incremental Evaluation, and Debugging in Datalog</emph>.
        As part of my research, I was a major contributor to the
        <a class="underline_link", href="https://souffle-lang.org">Soufflé</a> Datalog engine,
        adding important debugging and incremental evaluation features.
        </p>

        <p>
        <strong>Away from the computer</strong>, you can usually find me playing tennis, ultimate frisbee,
        doing (<span class="emph">attempting</span>) pottery, or behind a
        camera trying to find cool things to take pictures of.
        </p>
    </span>
</section>
